ProducerASPX/Specs/WebShowSpec.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2007 (http://www.altova.com) by William Vega (DimSoft) -->
<!--W3C Schema generated by XMLSpy v2007 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="WebSlides">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="WebSlide" maxOccurs="9999"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="WebSlide">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Thumbnail"/>
				<xs:element ref="Assets"/>
				<xs:element ref="OverLink" minOccurs="0"/>
				<xs:element ref="PageLink" minOccurs="0"/>
				<xs:element ref="ConversationalPoll" minOccurs="0"/>
				<xs:element ref="SurfMenu" minOccurs="0"/>
				<xs:element ref="WatchClip" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="WebSlideFrameLoopColor" type="xs:string"/>
			<xs:attribute name="WebSlideFrameLoopOpacity" type="xs:double"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="WebShowManifest">
		<xs:annotation>
			<xs:documentation>xmlns??</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="WebSlides"/>
			</xs:sequence>
			<xs:attribute name="WebShowVersion" type="xs:string" use="required"/>
			<xs:attribute name="WebShowName" type="xs:string" use="required"/>
			<xs:attribute name="WebShowDate" type="xs:string" use="required"/>
			<xs:attribute name="WebShowAuthor" type="xs:string" use="required"/>
			<xs:attribute name="InitialVideoWindowY" type="xs:double" use="required"/>
			<xs:attribute name="InitialVideoWindowX" type="xs:double" use="required"/>
			<xs:attribute name="InitialVideoWindowWidth" type="xs:double" use="required"/>
			<xs:attribute name="InitialVideoWindowHeight" type="xs:double" use="required"/>
			<xs:attribute name="InitialVideoWindowSource" type="xs:string" use="required"/>
			<xs:attribute name="BasePath" type="xs:string" use="required"/>
			<xs:attribute name="BottomBarDefaultColor" type="xs:string" use="required"/>
			<xs:attribute name="BottomBarDefaultOpacity" type="xs:double" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Thumbnail">
		<xs:complexType>
			<xs:attribute name="ImageSource" type="xs:string" use="required"/>
			<xs:attribute name="FrameText" type="xs:string" use="required"/>
			<xs:attribute name="FrameID" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="PageLink">
		<xs:complexType>
			<xs:attribute name="Top" type="xs:double" use="required"/>
			<xs:attribute name="Left" type="xs:double" use="required"/>
			<xs:attribute name="InitialButtonDelayTime" type="xs:string" use="required"/>
			<xs:attribute name="Url" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Assets">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Asset" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Asset">
		<xs:complexType>
			<xs:attribute name="ID" type="xs:string" use="required"/>		
			<xs:attribute name="Value" type="xs:string" use="required"/>		
		</xs:complexType>
	</xs:element>
	<xs:element name="ConversationalPoll">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Questions">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="Question" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="EndMessage" type="xs:string" use="required"/>
			<xs:attribute name="DefaultFontSize" type="xs:double" use="required"/>
			<xs:attribute name="DefaultAnswerMargin" type="xs:double" use="required"/>
			<xs:attribute name="DefaultQuestionMargin" type="xs:double" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Question">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="QuestionTexts">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="QuestionText" maxOccurs="5"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="Answers">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="Answer" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="Id" type="xs:int" use="required"/>
			<xs:attribute name="FontSize" type="xs:double"/>
			<xs:attribute name="QuestionMargin" type="xs:double"/>
			<xs:attribute name="AnswerMargin" type="xs:double"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="QuestionText">
		<xs:complexType>
			<xs:attribute name="Text" use="required"/>
			<xs:attribute name="Order" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Answer">
		<xs:complexType>
			<xs:attribute name="Id" type="xs:int" use="required"/>
			<xs:attribute name="Text" type="xs:string" use="required"/>
			<xs:attribute name="NextQuestionID" type="xs:integer"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Interfaces">
		<xs:complexType>
			<xs:sequence/>
		</xs:complexType>
	</xs:element>
	<xs:element name="OverLink">
		<xs:complexType>
			<xs:attribute name="Top" type="xs:double" use="required"/>
			<xs:attribute name="Left" type="xs:double" use="required"/>
			<xs:attribute name="InitialButtonDelayTime" type="xs:string" use="required"/>
			<xs:attribute name="Url" type="xs:string" use="required"/>
			<xs:attribute name="Duration" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="SurfMenu">
		<xs:complexType>
			<xs:attribute name="Left" type="xs:double" use="required"/>
			<xs:attribute name="Top" type="xs:double" use="required"/>
			<xs:attribute name="Resource" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="WatchClip">
		<xs:complexType>
			<xs:attribute name="Left" type="xs:double" use="required"/>
			<xs:attribute name="Top" type="xs:double" use="required"/>
			<xs:attribute name="VideoClip" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
